<div class="description">
    <h2>Ẩm thực miền Trung - Việt Nam</h2>
    <p class="content">
        Trải dài từ Bắc vào Nam đồng bằng duyên hải miền Trung, khí hậu, địa hình lại dần dần khác biệt, cũng vì
        vậy
        cách chế biến, cách thưởng thức và các nguyên liệu, cũng như đặc sản mỗi vùng lại khác nhau. Không có
        vùng
        nào trùng với vùng nào, cũng chỉ có thể tìm thấy những hương vị này ở những vị trí địa lý khác, điều đó
        cũng
        vô tình tạo nên sự đa dạng của ẩm thực miền Trung.
        Với địa hình trải dài và hẹp, miền Trung là mảnh đất chịu nhiều thiên tai, lũ lụt, khí hậu khắc nghiệt,
        cũng
        vì thế, người dân ở đây cũng cần cù lam lũ hơn, món ăn cũng chú trọng đi vào chiều sâu vào hương vị hơn,
        không quá cầu kỳ hay phô trương, đây cũng là đặc điểm chung duy nhất tạo nên hương vị ẩm thực miền
        trung.
    </p>
    <p class="content">Ẩm thực miền trung chia làm 3 vùng đó là:</p>
</div>
<div class="session">
    <div class="title">South Cen/div>
        <p class="content"> Mang đậm bản sắc của vùng biển, vùng đất Nam Trung bộ là vùng đất của các món ăn được
            chế biến từ hải sản. Những món ăn ở đồng bằng Nam Trung bộ chinh phục thực khách bởi hương vị ngọt mát
            từ biển với cách chế biến đa dạng. Từ nam đèo Hải Vân xuôi về dọc phía Nam, qua mỗi tỉnh văn hóa ẩm thực
            lại có phân hóa rõ rệt.
        </p>
        <div class="gallery">
            <div class="col">
                <figure>
                    <p class="image-name">"Bánh hỏi lòng heo"</p>
                    <img src="assets/images/central/South Central Region/banh hoi long heo.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh tráng cuốn thịt đà nẵng"</p>
                    <img src="assets/images/central/South Central Region/banh trang cuon thit heo.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh canh hẹ"</p>
                    <img src="assets/images/central/South Central Region/banh canh he.jpeg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bún mắm nêm đà nẵng"</p>
                    <img src="assets/images/central/South Central Region/bun mam nem da nang.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"cao lầu hội"</p>
                    <img src="assets/images/central/South Central Region/cao lau hoi an.jpg" alt="dddd">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"chả dông phú yên"</p>
                    <img src="assets/images/central/South Central Region/cha dong phu yen.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"chả cá"</p>
                    <img src="assets/images/central/South Central Region/cha ca.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"cơm gà tam kì"</p>
                    <img src="assets/images/central/South Central Region/com ga tam ki.png" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh xèo ninh thuận"</p>
                    <img src="assets/images/central/South Central Region/banh xeo.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"gié bò tây sơn"</p>
                    <img src="assets/images/central/South Central Region/gie bo tay son.jpg" alt="dddd">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"Gỏi cá mai"</p>
                    <img src="assets/images/central/South Central Region/goi ca mai.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"gỏi cá nậm Đà nẵng"</p>
                    <img src="assets/images/central/South Central Region/goi ca.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"mắt cá ngừ đại dương"</p>
                    <img src="assets/images/central/South Central Region/mat ca ngu dai duong.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"mỳ quãng"</p>
                    <img src="assets/images/central/South Central Region/my quang.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"tré rơm"</p>
                    <img src="assets/images/central/South Central Region/tre rom.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"xôi bồ câu"</p>
                    <img src="assets/images/central/South Central Region/xoi bo cau.jpg" alt="dddd">
                </figure>
            </div>
        </div>
    </div>
    <hr>
    <div class="session">
        <div class="title">Vùng Tây Nguyên</div>
        <p class="content">Nói đến ẩm thực Tây Nguyên, người ta sẽ nghĩ ngay những món dân giã với cách
            chế biến độc đáo đậm chất miền núi. ̉m thực, con người cùng những phong tục, tập quán
            riêng giữa núi rừng hùng vĩ và các đồi cà phê bạc ngàn là điểm thu vị thu hút phượt thủ
            trên mọi miền tổ quốc.
        </p>
        <p class="content"> ̉m thực Tây Nguyên đi kèm với các lễ hội truyền thống mang đậm bản sắc dân
            tộc là một trong những điểm mời gọi du khách. Đây cũng chính là điểm mạnh của vùng để
            đầu tư, phát triển du lịch, cải thiện đời sống người dân. Những nét đặc trưng khiến bạn
            bất ngờ về ẩm thực Tây Nguyên mà ai đến đây cũng ấn tượng và nhớ mãi không nguôi.
        </p>
        <div class="gallery">
            <div class="col">
                <figure>
                    <p class="image-name">"Bánh ướt lòng gà"</p>
                    <img src="assets/images/central/Central Highlands/banh uot long ga.jpeg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bò nướng ống tre"</p>
                    <img src="assets/images/central/Central Highlands/bo nuong ong tre.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bún mắm cua"</p>
                    <img src="assets/images/central/Central Highlands/bun mam cua.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"heo quay măng đen"</p>
                    <img src="assets/images/central/Central Highlands/heo quay mang den.jpeg" alt="dddd">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"cá gỏi kiến vàng"</p>
                    <img src="assets/images/central/Central Highlands/ca goi kien vang.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"cá lăng"</p>
                    <img src="assets/images/central/Central Highlands/ca lang.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"cơm lam"</p>
                    <img src="assets/images/central/Central Highlands/com lam.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"gà nướng cơm lam"</p>
                    <img src="assets/images/central/Central Highlands/ga nuong com lam.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"gỏi cá kon tum"</p>
                    <img src="assets/images/central/Central Highlands/goi ca kom tum.jpg" alt="dddd">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"cá bống kho giềng"</p>
                    <img src="assets/images/central/Central Highlands/ca bong kho gieng.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"phở gà gia lai"</p>
                    <img src="assets/images/central/Central Highlands/pho ga gia lai.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"rượu cần"</p>
                    <img src="assets/images/central/Central Highlands/ruou can.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"xôi măng kon tum"</p>
                    <img src="assets/images/central/Central Highlands/xoi mang kon tum.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bún đỏ"</p>
                    <img src="assets/images/central/Central Highlands/bun do.jpg" alt="dddd">
                </figure>
            </div>
        </div>
    </div>
    <hr>
    <div class="session">
        <div class="title">Vùng Bắc Trung Bộ</div>
        <div class="title">Xứ Huế</div>
        <p class="content">Tây Bắc là địa bàn có nhiều địa điểm phát triển du lịch cộng đồng, nơi đây hội tụ, bảo
            tồn và lưu giữ tinh hoa những giá trị văn hóa của cộng đồng các dân tộc. Điển hình như các phong tục tập
            quán, lễ hội, nghệ thuật trang trí, ẩm thực, các nét sinh hoạt văn hóa cộng đồng như lễ hội ngày xuân,
            văn hóa chợ phiên, cưới hỏi, tang ma, lễ mừng cơm mới, lễ cúng rừng… Trong các nét văn hóa đó, ẩm thực
            truyền thống gắn với văn hóa bản địa của từng dân tộc đã và đang được đồng bào gìn giữ, truyền lại và
            phát huy trong đời sống văn hóa cũng như phát triển du lịch cộng đồng trong mỗi làng bản, góp phần quan
            trọng làm nên bản sắc của mỗi điểm du lịch.
        </p>
        <p class="content">Để có những mâm cơm mang đậm màu sắc và dư vị truyền thống, tại các bản làng, đồng bào
            các dân tộc đã tự tay mình tìm kiếm những nguyên liệu có sẵn trên rừng, trong vườn nhà để chế biến món
            ăn chứ không mua những nguyên liệu bên ngoài. Mùa nào thức đấy, các nguyên liệu dùng để làm nên các món
            luôn tươi ngon và đậm đà dư vị như măng rừng, cá suối, thịt lợn sấy, thịt gác bếp, xôi lá màu, các loại
            bánh, rau rừng hái bên ven suối… Sau khi đã có nguyên liệu, đồng bào tự tay mình chế biến món ăn theo
            những công thức truyền thống. Để có được những món ăn lạ miệng, người chế biến đã sử dụng kết hợp các
            loại gia vị trên rừng như hạt dổi, mắc khén, tiêu, ớt, các loại lá thơm và sáng tạo trong cách chế biến.
        </p>
        <div class="gallery">
            <div class="col">
                <figure>
                    <p class="image-name">"bánh canh nam phổ"</p>
                    <img src="assets/images/central/hue/banh canh nam pho.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh nậm huế"</p>
                    <img src="assets/images/central/hue/banh nam hue.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh bèo"</p>
                    <img src="assets/images/central/hue/banh beo.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh ép huế"</p>
                    <img src="assets/images/central/hue/banh ep hue.png" alt="dddd">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"cơm hến huế"</p>
                    <img src="assets/images/central/hue/com hen hue.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh lọc"</p>
                    <img src="assets/images/central/hue/banh loc1.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bún bò huế"</p>
                    <img src="assets/images/central/hue/bun bo hue.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"chè hem"</p>
                    <img src="assets/images/central/hue/che hem.jpeg" alt="dddd">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"bánh ram ít"</p>
                    <img src="assets/images/central/hue/banh ram it.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"maxresdefault"</p>
                    <img src="assets/images/central/hue/maxresdefault.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"nem chua huế"</p>
                    <img src="assets/images/central/hue/nem chua hue.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"tré huế"</p>
                    <img src="assets/images/central/hue/tre hue.jpg" alt="dddd">
                </figure>
            </div>
        </div>
    </div>
    <hr>
    <div class="session">
        <div class="title">Xứ Nghệ</div>
        <p class="content"> Không chỉ nổi tiếng là cùng địa linh nhân kiệt, Nghệ An còn được biết đến là vùng giàu
            bản sắc văn hóa.Mỗi lĩnh vực đời sống văn hóa đều có những nét riêng, trong đó văn hóa ẩm thực luôn thể
            hiện đậm nét cuộc sống và tính cách của con người xứ sở gió lào bỏng rát.
        </p>
        <div class="gallery">
            <div class="col">
                <figure>
                    <p class="image-name">"Bánh đa xúc hến"</p>
                    <img src="assets/images/central/xu nghe/banh da xuc hen.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh ngào"</p>
                    <img src="assets/images/central/xu nghe/banh ngao.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh gạo"</p>
                    <img src="assets/images/central/xu nghe/banh gao.JPG" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh ướt diễn châu"</p>
                    <img src="assets/images/central/xu nghe/banh uot dien chau.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"cháo lươn nghệ an"</p>
                    <img src="assets/images/central/xu nghe/chao luon nghe an.png" alt="dddd">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"cháo canh"</p>
                    <img src="assets/images/central/xu nghe/chao canh.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"cháo nghêu cửa lò"</p>
                    <img src="assets/images/central/xu nghe/chao ngheu cua lo.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"mực nháy cửa lò"</p>
                    <img src="assets/images/central/xu nghe/muc nhay cua lo.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"nhut thanh chuong"</p>
                    <img src="assets/images/central/xu nghe/nhut thanh chuong.jpg" alt="dddd">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"gỏi cá đúc"</p>
                    <img src="assets/images/central/xu nghe/goi ca duc.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"kẹo cudo hà tĩnh"</p>
                    <img src="assets/images/central/xu nghe/keo cudo.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh lọc huế"</p>
                    <img src="assets/images/central/xu nghe/banh loc hue.jpg" alt="dddd">
                </figure>
            </div>
        </div>
    </div>
    <hr>
    <div class="session">
        <div class="title">Xứ Thanh</div>
        <p class="content">Bản chất con người xứ Thanh vốn mộc mạc, thật thà, cảnh sắc nơi đây vẫn còn hoang sơ,
            những danh lam thẳng cảnh cùng với di tích dường như trải đều khắp miền Thanh Hóa. Đặc sản ẩm thực là
            kết tinh từ tinh hoa của đất, của thiên nhiên và văn hóa vùng miền mà tạo nên những món đặc sản đặc
            trưng của miền đất đó. Chỉ tới Thanh Hóa bạn mới được nếm thử những món đặc trưng, thơm ngon rất ấn
            tượng.
        </p>
        <div class="gallery">
            <div class="col">
                <figure>
                    <p class="image-name">"nem chua thanh hoa"</p>
                    <img src="assets/images/central/xu thanh/nemchuathanhhoa.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"thịt trâu nấu lá lơm"</p>
                    <img src="assets/images/central/xu thanh/thittraunaulalom.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"bánh gai"</p>
                    <img src="assets/images/central/xu thanh/banhgaitutru.jpg" alt="dddd">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"chè lam phú quảng"</p>
                    <img src="assets/images/central/xu thanh/chelamphuquang.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"chim mia thạch thanh"</p>
                    <img src="assets/images/central/xu thanh/chimmiathachthanh.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"chả thôm"</p>
                    <img src="assets/images/central/xu thanh/cha tom.jpg" alt="dddd">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"bánh đa"</p>
                    <img src="assets/images/central/xu thanh/banhdalangminhchau.jpg" alt="dddd">
                </figure>
                <figure>
                    <p class="image-name">"nem thính thanh hoa"</p>
                    <img src="assets/images/central/xu thanh/nem-thinh-thanh-hoa-1.jpg" alt="dddd">
                </figure>
            </div>
        </div>
    </div>