<main class="localities-layout">
    <!-- Miền Bắc -->
    <div class="row">
        <div class="container">
            <div class="img-container">
                <img src="assets/images/north/am thuc.png" alt="Ẩm thực miền Bắc">
            </div>
            <div class="text-container">
                <h2>ẨM THỰC MIỀN BẮC</h2>
                <p>Món ăn miền Bắc có vị thanh tao, không quá cay, không quá nồng gắt.
                    Thường làm nổi bật vị tươi ngon tự nhiên, nêm nếm hài hòa, tinh tế.</p>
                <a class="arrow" href="/north">→</a>
            </div>
        </div>
    </div>

    <!-- Miền Trung -->
    <div class="row">
        <div class="container">
            <div class="img-container">
                <img src="assets/images/central/trung.png" alt="Ẩm thực miền Trung">
            </div>
            <div class="text-container">
                <h2>ẨM THỰC MIỀN TRUNG</h2>
                <p>Mảnh đất miền Trung khắc nghiệt tạo nên những món ăn đậm đà, chú trọng hương vị, dân dã mà đặc trưng.
                </p>
                <a class="arrow" href="/central">→</a>
            </div>
        </div>
    </div>

    <!-- Miền Nam -->
    <div class="row">
        <div class="container">
            <div class="img-container">
                <img src="assets/images/south/nam.png" alt="Ẩm thực miền Nam">
            </div>
            <div class="text-container">
                <h2>ẨM THỰC MIỀN NAM</h2>
                <p>Ẩm thực miền Nam phong phú, thoải mái, thiên về ăn chơi, ăn ngon, dân dã và gần gũi.</p>
                <a class="arrow" href="/south">→</a>
            </div>
        </div>
    </div>
</main>