h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #c6a2a2;
    margin-bottom: 30px;
    text-transform: uppercase;

}



.session {
    background-color: #fdfdfd;
    padding: 40px 20px;
    font-family: 'Roboto', sans-serif;
}

.session .title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #2e9090;
    margin-bottom: 30px;
}

.content {
    font-size: 18px;
    line-height: 1.8;
    color: #333;
    text-align: justify;
    margin: 15px auto;
    max-width: 1000px;
}

.session .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.session .gallery .col {
    flex: 0 0 33%;
    max-width: 28%;
    padding: 10px;
    box-sizing: border-box;
}

.session .gallery .col figure {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.session .gallery .col figure img {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    filter: grayscale(0%);
}

.session .gallery .col figure:hover img {
    filter: grayscale(0%) contrast(120%);
    transform: scale(1.05);
    opacity: 0.3;

}

.session .gallery .col figure p.image-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #000000;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    font-weight: 900;
    font-size: 15px;
    line-height: 1.2;
    transition: 0.3s all;
    text-transform: uppercase;
}

.session .gallery .col figure:hover p.image-name {
    opacity: 1;
    background-color: aliceblue;
}