<div class="description">
  <h2>Ẩm thực miền Bắc - Việt Nam</h2>
  <p class="content">
    <b> Ẩm thực miền Bắc</b> rất phong phú và đa dạng, rất cầu kỳ trong trang trí và nêm nếm gia vị, vẫn hấp dẫn
    khi chế biến với nguyên liệu tươi ngon. Nếu như ẩm thực miền Trung mang đậm dấu ấn của một vùng đất đầy nắng
    gió. Còn miền Nam là sự pha trộn của nhiều nền ẩm thực. Thì ẩm thực miền Bắc lại mang đậm bản sắc của một
    văn hóa lâu đời. Chính vì vậy, ẩm thực miền Bắc đã được sàng lọc để trở thành một chuẩn mực không thể dễ
    dàng thay đổi được.
    Món ăn của người miền Bắc có vị thanh tao, không quá cay, không quá nồng gắt. Và thường làm nổi bật lên vị
    tươi ngon tự nhiên của từng thực phẩm. Cách chế biến và nêm gia vị cũng rất tinh tế, hài hòa trong cảm quan,
    hương vị vừa phải. Đề cao sự thanh tao, đạm bạc nhưng vẫn tôn lên được những hương vị tinh túy của những món
    ăn.
    Ngoài mâm cỗ thịnh soạn ngày Tết ra, các món ăn mỗi ngày ở hàng quán hay các món ăn gia đình hằng ngày của
    người Bắc cũng không bao giờ là qua loa cho qua bữa.
  </p>
  <p class="content">Ẩm thực miền bắc ngầm chia làm 2 vùng chính là đồng bằng và miền núi:</p>
</div>
<div class="session">
  <div class="title">Vùng Tây Bắc</div>
  <p class="content">Về vùng đồng bằng bắc bộ, người dân sử dụng rất nhiều món rau được canh tác như rau
    muống, bầu, các loại rau cải…, các loại lúa gạo và các loại thủy sản nước ngọt dễ kiếm như tôm, cua, cá,
    trai, hến… và nhìn chung, do truyền thống xa xưa có nền nông nghiệp nghèo nàn, ẩm thực miền Bắc trước
    kia ít thịnh hành các món ăn với nguyên liệu chính là thịt, cá. Điều này cũng thể hiện được tính tổng
    hợp trong ẩm thực Việt Nam nói chung trong việc có nhiều món ăn trên một mâm cơm, có thể kết hợp các
    loại rau khác nhau, các loại rau đặc trưng ăn kèm riêng với cá, tôm. Những gia vị thường dùng là rau
    thơm như húng thơm, tía tô, kinh giới, thìa là, mùi tàu, các loại gia vị thực vật như ớt, hạt tiêu, sả,
    hẹ, tỏi, gừng…, các loại gia vị lên men như mẻ, mắm tôm, bống rượu, giấm thanh, kẹo đắng, nước cốt dừa,…
    nhưng không dùng nhiều dầu mỡ và đặc biệt là nước mắm với tác dụng chính là tạo độ hòa quyện của tất cả
    các vị trong từng món ăn.
  </p>
  <p class="content">Ẩm thực bắc bộ cũng giống như các nền ẩm thực đều chịu ảnh hưởng dù ít hay nhiều từ
    nguyên tắc âm dương ngũ hành. Trong một bát mì(phở, mì gạo, bún,..) luôn hội tụ cái ngọt của thịt gà
    hoặc bò; vị cay dìu dịu của gừng, hạt tiêu đen, vị cay xuýt xoa của ớt: vị chua của chanh, vị thơm chát
    hăng hắc của các loại rau thơm… và hòa hợp tất cả lại là vị ngọt lịm của nước dùng hầm từ xương.
  </p>
  <div class="gallery">
    <div class="col">
      <figure>
        <p class="image-name">"phở chua Lạng Sơn"</p>
        <img src="assets/images/north/Northwest Region/pho chua lang son.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"bê chao Mộc Châu"</p>
        <img src="assets/images/north/Northwest Region/be chao moc chau.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"cá hồi Sapa"</p>
        <img src="assets/images/north/Northwest Region/ca hoi sapa.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"xôi nếp nương Mai Châu"</p>
        <img src="assets/images/north/Northwest Region/xoi.jpg" alt="1111">
      </figure>
    </div>
    <div class="col">
      <figure>
        <p class="image-name">"cơm lam Tây Bắc"</p>
        <img src="assets/images/north/Northwest Region/com lam tay bac.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"khâu nhục Lạng Sơn"</p>
        <img src="assets/images/north/Northwest Region/khau nhuc lang son.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"mắc khén (gia vị)"</p>
        <img src="assets/images/north/Northwest Region/mac khen.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"thịt gác bếp Lào Cai"</p>
        <img src="assets/images/north/Northwest Region/thit gac bep lao cai.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"vịt quay Lạng Sơn"</p>
        <img src="assets/images/north/Northwest Region/vit quay lang son.jpg" alt="1111">
      </figure>
    </div>
    <div class="col">
      <figure>
        <p class="image-name">"phở chua Lạng Sơn"</p>
        <img src="assets/images/north/Northwest Region/pho chua lang son.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"rượu táo mèo"</p>
        <img src="assets/images/north/Northwest Region/ruou tao meo.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"thắng cố Lào Cai"</p>
        <img src="assets/images/north/Northwest Region/thang co lao cai.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"nậm pịa"</p>
        <img src="assets/images/north/Northwest Region/nam pia.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"cá suối nướng"</p>
        <img src="assets/images/north/Northwest Region/ca muoi nuong.jpg" alt="1111">
      </figure>
    </div>
  </div>
</div>
<hr>
<div class="session">
  <div class="title">Vùng Đồng Bằng</div>
  <p class="content">Tây Bắc là địa bàn có nhiều địa điểm phát triển du lịch cộng đồng, nơi đây hội tụ, bảo
    tồn và lưu giữ tinh hoa những giá trị văn hóa của cộng đồng các dân tộc. Điển hình như các phong tục tập
    quán, lễ hội, nghệ thuật trang trí, ẩm thực, các nét sinh hoạt văn hóa cộng đồng như lễ hội ngày xuân,
    văn hóa chợ phiên, cưới hỏi, tang ma, lễ mừng cơm mới, lễ cúng rừng… Trong các nét văn hóa đó, ẩm thực
    truyền thống gắn với văn hóa bản địa của từng dân tộc đã và đang được đồng bào gìn giữ, truyền lại và
    phát huy trong đời sống văn hóa cũng như phát triển du lịch cộng đồng trong mỗi làng bản, góp phần quan
    trọng làm nên bản sắc của mỗi điểm du lịch.
  </p>
  <p class="content">Để có những mâm cơm mang đậm màu sắc và dư vị truyền thống, tại các bản làng, đồng bào
    các dân tộc đã tự tay mình tìm kiếm những nguyên liệu có sẵn trên rừng, trong vườn nhà để chế biến món
    ăn chứ không mua những nguyên liệu bên ngoài. Mùa nào thức đấy, các nguyên liệu dùng để làm nên các món
    luôn tươi ngon và đậm đà dư vị như măng rừng, cá suối, thịt lợn sấy, thịt gác bếp, xôi lá màu, các loại
    bánh, rau rừng hái bên ven suối… Sau khi đã có nguyên liệu, đồng bào tự tay mình chế biến món ăn theo
    những công thức truyền thống. Để có được những món ăn lạ miệng, người chế biến đã sử dụng kết hợp các
    loại gia vị trên rừng như hạt dổi, mắc khén, tiêu, ớt, các loại lá thơm và sáng tạo trong cách chế biến.
  </p>
  <div class="gallery">
    <div class="col">
      <figure>
        <p class="image-name">"bánh cáy Thái Bình"</p>
        <img src="assets/images/north/Delta Region/banh cay thai binh.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"bánh giầy"</p>
        <img src="assets/images/north/Delta Region/banh giay.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"bánh đa"</p>
        <img src="assets/images/north/Delta Region/banh da.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Nem nắm Nam Định"</p>
        <img src="assets/images/north/Delta Region/nem nam nam dinh.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Nem rán"</p>
        <img src="assets/images/north/Delta Region/nem ran.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"phở cuốn"</p>
        <img src="assets/images/north/Delta Region/pho cuon.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Bún đậu mắm tôm"</p>
        <img src="assets/images/north/Delta Region/bun dau mam tom.jpg" alt="1111">
      </figure>
    </div>
    <div class="col">
      <figure>
        <p class="image-name">"bánh gai Nam Định"</p>
        <img src="assets/images/north/Delta Region/banh gai nam dinh.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"bánh chưng"</p>
        <img src="assets/images/north/Delta Region/banh chung.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"bánh giầy 1"</p>
        <img src="assets/images/north/Delta Region/banh giay1.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"bánh phu thê Bắc Ninh"</p>
        <img src="assets/images/north/Delta Region/banh phu the bac ninh.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Bánh tẻ Hà Nội"</p>
        <img src="assets/images/north/Delta Region/banh te ha noi.png" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"bánh đậu xanh Hải Dương"</p>
        <img src="assets/images/north/Delta Region/banh dau xanh hai duong.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"phở bò Hà Nội_Nam Định"</p>
        <img src="assets/images/north/Delta Region/pho bo ha noi nam dinh1.jpg" alt="1111">
      </figure>
    </div>
    <div class="col">
      <figure>
        <p class="image-name">"bánh đậu xanh Hải Dương 2"</p>
        <img src="assets/images/north/Delta Region/banh dau xanh hai duong1.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"bún cá rô Hà Nam"</p>
        <img src="assets/images/north/Delta Region/bun ca ro ha nam.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Bún chả Hà Nội"</p>
        <img src="assets/images/north/Delta Region/bun cha ha noi.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"bún thang Hà Nội"</p>
        <img src="assets/images/north/Delta Region/bun thang ha noi.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Cá kho Vũ Đại"</p>
        <img src="assets/images/north/Delta Region/ca kho vu dai.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"cốm làng Vòng"</p>
        <img src="assets/images/north/Delta Region/com lang vong.jpg" alt="1111">
      </figure>
    </div>
  </div>
</div>