<header class="header">
  <a class="button" routerLink="/index"> Trang chủ </a>
  <a class="button" routerLink="/north">Miền Bắc</a>
  <a class="button" routerLink="/central">Miền Trung</a>
  <a class="button" routerLink="/south">Miền Nam</a>
</header>

<main class="main-layout">
  <div class="container">
    <p class="title">
      <span>Bản</span>
      <span>Sắc</span>
      <span>Ẩm</span>
      <span>Thực</span>
      <span class="vietnam">VIỆT NAM</span>
    </p>
  </div>
</main>

<router-outlet></router-outlet>