<div class="description">
    <h2>Ẩm thực miền Nam - Việt Nam</h2>
    <p class="content">
        <b> Khi nhắc đến miền Nam thì người ta thường nghĩ đến câu “dưới sông có cá, trên bờ có rau”. Đây là một vùng
            đất phì nhiêu, màu mỡ được bồi đắp bởi hệ thống các sông, kênh, rạch chằng chịt. Miền Nam luôn được thiên
            nhiên ưu đãi rất nhiều sản vật đa dạng, phong phú. Ẩm thực Nam Bộ mang nét phóng khoáng và hoang dã bởi
            chính thiên nhiên trù phú và hào phóng của miền sông nước phương Nam.
            Vì thiên nhiên ưu đãi nhiều sản vật phong phú, văn hóa ẩm thực Nam Bộ thiên về sự dư dả, các món ăn nghiêng
            về sự thoải mái khi ăn, ăn ngon miệng, ăn chơi của người miền Nam. Tuy miền Nam chấp nhận rộng rãi những văn
            hóa ẩm thực của các vùng miền khác, nhưng họ vẫn giữ dấu ấn riêng với nét dân dã đặc trưng trong văn hóa ẩm
            thực miền Nam của mình.
            <p class="content">Ẩm thực miền Nam chia làm 2 vùng đó là:</p>
            <div class="session">
                <div class="title">Southwest Region</div>
                <p class="content">“Miền Tây” không chỉ nhắc người ta về một vùng đất xanh mát, trù phú mà còn khơi dậy
                    trong lòng du khách những “món ngon tuyệt đỉnh” chỉ vùng đồng bằng sông Cửu Long mới có. với khí hậu
                    “mưa thuận gió hòa” quanh năm, tạo điều kiện cho cây lá tốt tươi, sông ngòi tràn đầy phù sa bồi đắp.
                    Chính nhờ điều kiện như vậy đã hình thành nên nền ẩm thực miền Tây rất phong phú và đa dạng
                </p>
                <div class="gallery">
                    <div class="col">
                        <figure>
                            <p class="image-name">"Ba khía rang me"</p>
                            <img src="assets/images/south/Southwest Region/ba khia rang me.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"bánh cống cần thơ"</p>
                            <img src="assets/images/south/Southwest Region/banh cong can tho.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"bánh đúc lá dứa cần thơ"</p>
                            <img src="assets/images/south/Southwest Region/banh duc la dua can tho.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"bánh ống lá dứa"</p>
                            <img src="assets/images/south/Southwest Region/banh ong la dua.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"bánh tầm cay"</p>
                            <img src="assets/images/south/Southwest Region/banh tam cay.png" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"bánh xèo"</p>
                            <img src="assets/images/south/Southwest Region/banh xeo.jpg" alt=" 11111111">
                        </figure>
                    </div>
                    <div class="col">
                        <figure>
                            <p class="image-name">"bún nước kèn"</p>
                            <img src="assets/images/south/Southwest Region/bun nuoc ken.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"ca loc nuong trui"</p>
                            <img src="assets/images/south/Southwest Region/ca loc nuong trui.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"cà xỉu kiên giang"</p>
                            <img src="assets/images/south/Southwest Region/ca xiu kien giang.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"dưa bồn bồn cà mau"</p>
                            <img src="assets/images/south/Southwest Region/dua bon bon ca mau.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"đuông dừa bến tre"</p>
                            <img src="assets/images/south/Southwest Region/duong dua ben tre.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"gỏi cá trích phú quốc"</p>
                            <img src="assets/images/south/Southwest Region/goi ca trich phu quoc.jpg" alt=" 11111111">
                        </figure>
                    </div>
                    <div class="col">
                        <figure>
                            <p class="image-name">"bún gỏi dà"</p>
                            <img src="assets/images/south/Southwest Region/bun goi da.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"lau-mam-can-tho"</p>
                            <img src="assets/images/south/Southwest Region/lau mam can tho.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"nem lai vung đồng tháp"</p>
                            <img src="assets/images/south/Southwest Region/nem lai vung dong thap.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"rắn ri cà mau"</p>
                            <img src="assets/images/south/Southwest Region/ran ri ca mau.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"vịt nấu chao"</p>
                            <img src="assets/images/south/Southwest Region/vit nau chao.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"xoi-ha-tien"</p>
                            <img src="assets/images/south/Southwest Region/xoi ha tien.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"hủ tiếu mỹ tho"</p>
                            <img src="assets/images/south/Southwest Region/hu tieu my tho.jpg" alt=" 11111111">
                        </figure>
                    </div>
                </div>
            </div>
            <hr>
            <div class="session">
                <div class="title">Southeast Region</div>
                <p class="content">Đông Nam Bộ là một khu vực có nền kinh tế phát triển nhất cả nước, nổi tiếng với các
                    khu
                    công nghiệp ở các tỉnh như Đồng Nai, Bình Dương và thành phố Hồ Chí Minh. Nơi đây cũng có nhiều món
                    ăn
                    đặc sản nổi tiếng làm nức lòng các thực khách khi tới đây.
                </p>
                <div class="gallery">
                    <div class="col">
                        <figure>
                            <p class="image-name">"bánh bèo bì"</p>
                            <img src="assets/images/south/Southeast Region/banh beo bi.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"bánh bông lan trứng muối sài gòn"</p>
                            <img src="assets/images/south/Southeast Region/banh bong lan trung muoi sai gon.png" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"bánh canh ghẹ"</p>
                            <img src="assets/images/south/Southeast Region/banh canh ghe.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"bánh canh trảng bàng"</p>
                            <img src="assets/images/south/Southeast Region/banh canh trang bang.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"bánh khọt"</p>
                            <img src="assets/images/south/Southeast Region/banh khot.jpg" alt=" 11111111">
                        </figure>
                    </div>
                    <div class="col">
                        <figure>
                            <p class="image-name">"bánh mì phá lấu"</p>
                            <img src="assets/images/south/Southeast Region/banh mi pha lau.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"lẩu cá đuối"</p>
                            <img src="assets/images/south/Southeast Region/lau ca duoi.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"comtamsaigon"</p>
                            <img src="assets/images/south/Southeast Region/com tam sai gon.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"Goi-buoi-tan-trieu"</p>
                            <img src="assets/images/south/Southeast Region/goi buoi tam trieu.jpg" alt=" 11111111">
                        </figure>
                    </div>
                    <div class="col">
                        <figure>
                            <p class="image-name">"bánh tráng trộn"</p>
                            <img src="assets/images/south/Southeast Region/banh trang tron.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"bột chiên"</p>
                            <img src="assets/images/south/Southeast Region/bot chien.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"hủ tiếu nam vang"</p>
                            <img src="assets/images/south/Southeast Region/hu tieu nam vuong.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"sủi cảo sài gòn"</p>
                            <img src="assets/images/south/Southeast Region/sui cao sai gon.jpg" alt=" 11111111">
                        </figure>
                        <figure>
                            <p class="image-name">"than-lan-nui-ba-den"</p>
                            <img src="assets/images/south/Southeast Region/than lan nui ba den.jpg" alt=" 11111111">
                        </figure>
                    </div>
                </div>
            </div>